body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: 1000;
    
}
.MainWin{
    
    width: 800px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 10px 0 20px 0 ;
    
    
}
.AddItemBlock{
    display: flex;

background: linear-gradient(rgb(85, 47, 253),rgb(255, 255, 255));
padding: 10px 30px;
border-radius: 5px;
margin-bottom: 5px;
}

.AddItemBlock input{
    margin: 0 20px;
    padding: 0;
    border:0;
    padding: 5px 0;

    border-radius:5px;
}

.AddItemBlock input::placeholder{
    color: gray;
    opacity: .3;
}


input[type="button"]{
    background-color: rgb(83, 238, 148);
    border:0;
    border-radius: 5px;
    padding: 5px;
}

button[name="del_shot"]{
    background-color: rgb(243, 10, 10);
    opacity: .4;
    float:right;
    border: 0;
    border-radius:5px;
    color: white;
    transform: translateY(8%);
    box-shadow: 1px 1px 5px black;
}
button[name="del_shot"]:hover{
    opacity: .8;
    box-shadow: 0px 0px 0px black;
}


button[name="del"]{
    background-color: rgb(255, 255, 255);
    float:right;
   
    border-radius:5px;
    
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 5px black;
    opacity: .3;
   
}
button[name="del"]:hover{
    box-shadow: 0px 0px 0px black;
    background-color:black;
    color: white;
}

.ListItems{
    padding: 0 0 70px 10px;
    
    /* border: 1px solid black; */
    
}a{
    text-decoration: none;
    color: rgba(74, 16, 189, 0.604);
    font-size: smaller;
    font-weight: 100;
}



/* ADD SHOT BLOCK */
.shotTime{
    background-color: rgb(253, 253, 253);
    padding:10px  20px;
    border-radius:10px;
    display: none;
    position: absolute;
}
.shotTime input::placeholder{
    color: gray;
    opacity: .3;
}
.AddTimeShot{
    background-color:rgb(13, 131, 9);
}

.close_shotTime{
    background-color:red;
}





.BlackScreen{
    background-color: black;
    opacity: .8;
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    
    z-index: 5;
}
.BlackOff{
    display: none;
}

button{
    background-color: rgb(59, 28, 238);
    color: white;
    margin: 0px;
    border-radius:5px;
    border:0;
    /* transform: translateY(30px); */
    font-weight: 600;
    opacity: .7;
    cursor: pointer;
}

.videoLink{
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border-radius:5px;
}
.shots{
    /* background-color:rgb(242, 242, 242); */
    transform: translateX(20px);
    padding: 5px;    
    border-radius:0 10px 10px 5px;
}
.shot_item{
    /* border: 1px solid rgba(0, 0, 0, .2); */
    border-radius:5px;
    padding: 2px 10px;
    margin: 3px 10px;
    width: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.add_shot{
    padding: 3px 6px;
    background-color:seagreen;
    cursor:cell;
}
.add_shot:hover{
    transition: 300ms;
    transform: scaleX(120%);
}

.shot-marker-green{
    background-color:springgreen;
}

.shot-marker-yellow{
    background-color:rgba(255, 99, 71,.4);
    color:white;
}