body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.MainWin{
    
    width: 800px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.AddItemBlock{
    display: flex;

background: linear-gradient(rgb(70, 4, 146),rgb(71, 46, 214),rgb(43, 111, 237));
padding: 10px 30px;
}

.AddItemBlock input{
    margin: 0 20px;
    padding: 0;
    border:0;
    padding: 5px 0;

    border-radius:5px;
}
.AddItemBlock input:hover{
    
}
.AddItemBlock input::placeholder{
    color: gray;
    opacity: .6;
}

input[type="button"]{
    background-color: rgb(83, 238, 148);
    border:0;
    border-radius: 5px;
    padding: 5px;
}

button[name="del_shot"]{
    background-color: rgb(247, 71, 71);
    float:left;
    border: 0;
    border-radius:5px;
    color: white;
    transform: translateY(8%);
}

button[name="del"]{
    background-color: rgb(247, 71, 71);
    float:left;
    border: 0;
    border-radius:5px;
    color: white;
    transform: translateY(8%);
}

.ListItems{
    padding: 0 30px;
    
}a{
    text-decoration: none;
    color: rgba(74, 16, 189, 0.604);
    font-size: smaller;
    font-weight: 100;
}

.shotTime{
    background-color: blue;
    padding:10px  20px;
    display: none;
    position: absolute;
}

.BlackScreen{
    background-color: black;
    opacity: .8;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 5;
}
.BlackOff{
    display: none;
}

button{
    background-color: rgb(59, 28, 238);
    color: white;
    margin: 5px;
    border-radius:5px;
    border:0;
    transform: translateY(8%);
    font-weight: 600;
    opacity: .7;
}

.videoLink{
    background-color: rgb(230, 230, 230);
}
.shots{
    transform: translateX(40px);
    
}